@media (min-width: 768px) {
    #menu-toggle { display: none; }
    
    nav { display: block; }
    nav ul { 
        display: flex; 
        justify-content: center; 
        gap: 2rem;
    }
    
    .join-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
    }

    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}