@media (min-width: 768px) {
    #menu-toggle { display: none; }
    
    nav { display: block; }
    nav ul { display: flex; justify-content: center; }
    
    .list-mode .member-card {
        grid-template-columns: 2fr 2fr 1.5fr 1fr;
        align-items: center;
    }

    .footer-top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}